$color.active-border = #369DCD
$color.border = #D0D0D0
$color.brand = #6AA5E9
$color.danger-button-background = #c9302c
$color.danger-button-background--active = darken(#c9302c, 10%)
$color.danger-button-background--hover = darken(#c9302c, 5%)
$color.danger = #c9302c
$color.danger-lighten = lighten(#c9302c, 5%)
$color.default-button-background = white
$color.default-button-background--active = #D9D9D9
$color.default-button-background--hover = #e6e6e6
$color.focus-border = #369DCD
$color.modal-background = white
$color.primary-button-background = alpha($color.brand, 60%)
$color.primary-button-background--active = darken($color.brand, 10%)
$color.primary-button-background--hover = darken($color.brand, 5%)
$color.sideNav-background = #2E3235
$color.ui-active = #6AA5E9
$color.ui-background = #FFFFFF
$color.ui-border = #D1D1D1
$color.ui-button--active-background = #D9D9D9
$color.ui-button--active = white
$color.ui-button--focus-border = lighten(#369DCD, 25%)
$color.ui-button--hover-background = #F6F6F6
$color.ui-button = #939395
$color.ui-button-default--active-background = #2B8976
$color.ui-button-default--active = white
$color.ui-button-default--focus-border = lighten(#369DCD, 25%)
$color.ui-button-default--hover-background = #2B8976
$color.ui-button-default = #FBFBFB
$color.ui-favorite-star-button = #FFC216
$color.ui-inactive-text = #939395
$color.ui-input--create-folder-modal = #C9C9C9
$color.ui-input--disabled-background = #DDD
$color.ui-input--focus-border = #369DCD
$color.ui-noteDetail-background = #FFFFFF
$color.ui-noteList-background = #FBFBFB
$color.ui-tag-background = rgba(0, 0, 0, 0.3)
$color.ui-text = #333333
$color.ui-tooltip-background = alpha(#444, 70%)
$color.ui-tooltip-button--hover-background = lighten(#D1D1D1, 30%)
$color.ui-tooltip-button-background = #D1D1D1
$color.ui-tooltip-text = white


$layout.active-border = solid 1px $color.active-border
$layout.default-border = solid 1px $color.border
$layout.modal-border-radius = 5px
$layout.modal-margin = 64px auto 64px
$layout.modal-z-index = 1002
$layout.sideNav--folded-width = 44px
$layout.sideNav-width = 400px
$layout.statusBar-height = 28px
$layout.topBar-height = 60px
$layout.ui-border = solid 1px $color.ui-border
$layout.ui-tooltip-font-size = 12px
